BR2_arceb=y
BR2_nps400=y
# BR2_ARC_ATOMIC_EXT is not set
BR2_DL_DIR="$(TOPDIR)/.."
BR2_TOOLCHAIN_BUILDROOT_VENDOR="ezchip"
BR2_TOOLCHAIN_BUILDROOT_STATIC=y
BR2_KERNEL_HEADERS_VERSION=y
BR2_DEFAULT_KERNEL_VERSION="arc-4.0-ezchip"
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_0=y
BR2_UCLIBC_VERSION_ARC_EZCHIP=y
BR2_UCLIBC_CONFIG="$(TOPDIR)/../configs/uClibc.config"
BR2_TOOLCHAIN_BUILDROOT_INET_RPC=y
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
BR2_PTHREAD_DEBUG=y
BR2_PACKAGE_HOST_GDB=y
BR2_TARGET_GENERIC_HOSTNAME="EZdk"
BR2_TARGET_GENERIC_ISSUE="Welcome to EZdk"
# BR2_TARGET_GENERIC_GETTY is not set
BR2_ROOTFS_OVERLAY="$(TOPDIR)/../rootfs_overlay"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_SAME_AS_HEADERS=y
BR2_LINUX_KERNEL_DEFCONFIG="nps"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="eznps"
BR2_PACKAGE_BUSYBOX_CONFIG="$(TOPDIR)/../configs/busybox.config"
BR2_PACKAGE_GDB=y
BR2_PACKAGE_STRACE=y
BR2_TARGET_ROOTFS_CPIO=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARDNAME="nps400"
BR2_TARGET_UBOOT_CUSTOM_VERSION=y
BR2_TARGET_UBOOT_CUSTOM_VERSION_VALUE="arc-2015.04-ezchip"
BR2_TARGET_UBOOT_SPL=y
